// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-text: #777;
$color-link: #51ddfc;

$color-error: #e4757a;

// Fonts


// Breakpoints


$break-p: 768px; // used





