@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    --main-Color: #e2b007 ;

}

/* mobile first  ************************ */

section{
    padding: 80px 20px;
}


/* **** scroll top ****************** */
.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: var(--main-Color);
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;

}

.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(50px);
    opacity: 1;

}

/* **** main ****************** */
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/about.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.main .content{
    max-width: 800px;
}


.main .content h2{
    color: #fff;
    font-size: 1em;  
    font-weight: 500;
}


.main .content h2 span{
    font-size: 2.8em;
    font-weight: 600;
}

.animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3{
    color: #4e9eff;
    font-size: 2.2em;  
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px;
    }

}

.btn{
    color: #fff;
    background: var(--main-Color);
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.btn:hover{
    background: #235bf6;
}


.media-icons{
    margin-top: 50px;
   
}

.media-icons a{
    color: #fff;
    font-size: 25px;
    margin-right: 30px;
}


header {
    z-index: 999;
    position: fixed;
    background: rgba(255,255,255,0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}


header.sticky {
    background: var(--main-Color);
    padding: 10px 20px; 
}


header .brand{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}


header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
}

header .navigation a{
    color: #000;
    font-size: 1.2em;
    margin: 10px;
    
    padding: 0 20px;
    border-radius: 20px;
}

header .navigation a:hover{
    background: var(--main-Color);
    color: #fff;
    transition: 0.3s;
}
 

.menu-btn{
    position: absolute;
    background: url(img/menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn.active{
    z-index: 999;
    background: url(img/close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1)
}

header .navigation{
    display: none;
}

body {
    min-height: 110vh;
}


.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}



.section-title{
    position: relative;
    color: var(--main-Color);
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 60px;
}


.section-title:before{
    content: '';
    position: absolute;
    top: 56px;
    left:50%;
    width: 140px;
    height: 4px;
    background: var(--main-Color);
    transform: translateX(-50%);

}

.section-title:after{
    content: '';
    position: absolute;
    top: 50px;
    left:50%;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-Color);
    transform: translateX(-50%);

}


.about .content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:20px;
}

.about .content .column {   
    position: relative;
    width: 100%;
}


.about .content .col-left{
    position: relative;
    width: 100%; 
}

.about .content .col-right{
    position: relative;
    width: 100%;
}

.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;

}

.about .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;

}

.about .content .col-right .paragraph-text {
    font-size: 1em;
}

.skills{
    background: #000016;
}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    margin-top: 40px;
}

.skills .content .column{
    position: relative;
    width: 100%;
}

.skills .content .col-right{
    margin-top: 20px; 
}

.skills .content .col-right{
    position: relative;
    width: 100%;
}


.skills .content .col-right .bar {
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}

.skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;

}

.skills .content .col-right .bar .line:before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;

}


.skills .content .col-right .bar .html:before{
    width: 80%;
    background: var(--main-Color);;

}

.skills .content .col-right .bar .css:before{
    width: 65%;
    background: var(--main-Color);;

}

.skills .content .col-right .bar .javascript:before{
    width: 55%;
    background: var(--main-Color);;

}

.skills .content .col-right .bar .jquery:before{
    width: 30%;
    background: var(--main-Color);;

}


.work{
    background: #fff;
}


.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

}

.work .content .card{
    width: 340px;
    margin: 15px;

}

.work .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}


.work .content .card .card-img .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease;
}

.work .content .card .card-img .image_overlay:hover{
    transform: scale(1.2);
    opacity: 1;
}

.work .content .card .card-img .image_overlay .image_title{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.work .content .card .card-img .image_overlay .image_description{
    width: 85%;
    text-align: center;
}

.contact {
    background:  #000016;
}

.contact .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    
}


.contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.contact .content .row .card{
    background: #fff;
    width: 240px;
    margin:20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}


.contact .content .row .card .contact-icon{
    color: var(--main-Color);
    font-size: 4em;
    text-align: center;
    transition:  0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px)

}


.contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .content .row .card .info span{
   color: #666;
   font-weight: 500 ;

}

.contact-form{
    background: #fff; 
    max-width: 600px;
    margin-top: 50px;
    padding: 50px; /*padding: 35px 40px;*/
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);

}

.contact-form h3{
    color: #111;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 40px;

}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-box .send-btn{
    color: #fff;
    background: var(--main-Color);
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover{
    background: #235bf6;

}

.footer {
    background: url(img/about.jpg) no-repeat;
    color: #fff;
    text-align: center;
    padding: 2em;
}

.footer .row{
    margin-left: 0px;
    margin-right: 0px;
}



.footer .container{
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 38%;
    border-radius: 10px;
}


.footer  h6{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer ul{ 
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}

.footer  ul a:hover{
    opacity: 0.8;
    color: #eee;
}

.footer  .social{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    margin-top: 50px;
}

.footer  .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--main-Color);
    box-shadow: 0px 0px 0px 1px rgba(255 255 255 / 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;

}

.footer  .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255 255 255 / 0.9);
}

.footer .copyright{
    text-align: left;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}

/* ************************************* media Queris **************************************** */

@media (min-width: 1040px){  


    .menu-btn{
        display: none;
    }

    header {
        padding: 15px 200px;
      
        
    }

    header .navigation{
        position: relative;
    }

    header.sticky{
        padding: 10px  200px; 
    }


    .main .content h2 {   
        font-size: 2em;
    }

    .animated-text h3 {
        font-size: 3em;  
    }

    .section-title {
        font-size: 2.2em;  
    }

    header .navigation{
        display: inline;
    }
    
    header .navigation a{
        color: #fff;
        font-size: 1em;
        font-weight: 500;
        margin-left: 30px;
    }
    
    header .navigation a:hover{
        background: none;
        color: var(--main-Color)
    }
    
    header.sticky .navigation a:hover{
        color: #000;
      }

     
      section{
        padding: 100px 200px;
    }
    

    .about .content{
        flex-direction: row;
    }

    .about .content .col-left{
        width: 45%; 
    }
    
    .about .content .col-right{
        width: 50%;
    }
    

    .skills .content{
        flex-direction: row;
    }

    .skills .content .col-right{
        position: relative;
        width: 46%;
    }
    
    .skills .content .col-left{       
        position: relative;
        width: 46%;
    }
    

    .contact-form{
        padding: 50px;
    }

}

